.form-group button {
    float: right;
}

.footerLine {
    border: 1px solid #eee;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 16px;
}

.footer-group {
    display: flex;
}

.footerCheckbox {
    height: 23px;
    width: 23px;
    margin-left: 22px;
}

.footerIntuition {
    height: 25px;
    min-width: 45px;
    font-size: 10px;
    margin-left: 10px;
}